@media screen and (min-width: 1024px){

    li{
        display:block;
        font-size: 4rem;
        font-weight:700;
        text-shadow: 0px 5px 1px rgb(189, 189, 189);
    
    }

    li > a{
        text-decoration: none;
        color: black;
    }

    li > a:hover{
        text-decoration: underline;
        text-decoration-color: rgb(210, 0, 162);
    }
    
    .to_the_moon{
        position: absolute;
        top: 70px;
        left: 75px;
        height: 340px;
        width: 340px;
        border: 4px solid black;
        font-family: 'Rubik', sans-serif;
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    .heading_frontpage{
        position: relative;
        top: 60px;
        margin: 0px;
        text-align: center;
        font-size: 5rem;
        line-height: 1.25;
        text-transform: uppercase;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .text_frontpage{
        position: relative;
        bottom: -100px;
        right: -200px;
        margin: 0px;
        padding: 5px;
        text-align: right;
        font-size: 0.90rem;
        text-decoration: none;
        color: black;
    }
    
    .br_after_to_heading{
        display: none;
    }

    .space_page{
        display: flex;
        gap: 200px;        
        min-height: 100vh;
        background-image: url("../images/space_bg_desktop.jpg");
        background-size: cover; 
        background-position: center;
        font-family: 'Rubik', sans-serif;
        color: white;
        padding-top:45px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .left_side_desktop, .right_side_desktop{
        width: 50%;
    }
        
    h2{
        margin: 0;
        max-height: 150px;
    }

    .heading_space{
        display:block;
        position:relative;
        font-size: 5.25rem;
        text-shadow: 2px 2px rgb(51, 44, 44);
        z-index:1;
    }
    
    .heading_ventures{
        color:rgb(209, 201, 201);
        position:relative;
        top: -60px;
        left: 5px;
        font-family:'Times New Roman', Times, serif;
        font-size:7rem;
        font-weight: 800;
        z-index:0;
    }

    .heading_major_tom{
        position:relative;
        top:20px;
        font-size:1.8rem;
        padding-bottom: 10px;
    }
    
    .text_major_tom{
        font-size:1rem;
        font-weight: lighter;
        line-height: 1.5;
    }

    .text_major_tom_p1{
        display:block;
        margin: 0px 0px 5px 0px;
    }
    
    .text_major_tom_p2{
        display:block;
        margin: 0px 0px 5px 0px;
    }

    .quote1{
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 1.75rem;
        color: white;
        font-weight: lighter;
        font-style: italic;
    }
      
    .quote1::before{ 
        content: open-quote;
        font-weight: bold;
        font-size: 3rem;
        color: white;
        opacity: 0.3;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position:absolute;
        margin-left: -1rem;
        top: -1rem;
    } 
      
    .quote1::after{ 
        content: close-quote;
        font-weight: bold;
        font-size: 3rem;
        color: white;
        opacity: 0.3;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position:absolute;
        margin-left: -1rem;
        top: 5.5rem;
    }

    .quote2{
        position: relative;
        top:40px;
        left:-15px;
        display:block;
        font-size: 2.3rem;
        font-style: italic;
        font-weight: lighter;
        opacity: 0.3;
        background: #d200a2;
        background: linear-gradient(to bottom right, #d200a2 0%, #BABABA 50%, #d200a2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    .text_tin_can{
        position:relative;
        top:60px;
        font-size:1rem;
        font-weight: lighter;
        line-height: 1.5;
    }
    
    .text_tin_can_p1{    
        display:block;
        margin-bottom: 5px;
    }
    
    .text_tin_can_p2{    
        display:block;
        margin: 0px 0px 5px 0px;
    }
    
    .text_tin_can_p3{    
        display:block;
        margin: 0px 0px 5px 0px;
    }
    
    .text_tin_can_p4{    
        display:block;
        margin: 0px 0px 5px 0px;
    }
    
    .text_tin_can_p5{    
        display:block;
        margin: 0px 0px 5px 0px;
    }
    
    .picture_major_tom{
        display: inline;
        float: right;
        transform: rotate(5deg);
        width: 100px;
    }

    .text_tin_can_br{
        display:none;
    }

    .read_more_about_major_tom{
        color: rgb(210, 0, 162);
        text-decoration-color: rgb(210, 0, 162);
    }

    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom:0;
        width: 100vw;
        height: 65px;
        background-color: rgba(3, 8, 37, 0.9)
    }
    
    .cookie_text{
        font-size: 1rem;
        margin:0;
        margin-left: 25px;
        padding: 5px;
        color: rgb(210, 0, 162);
        text-shadow: 0px 0px 10px rgb(210, 0, 162);
    }
    
    .accept_cookies{
        border: none;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        position: relative;
        margin-right: 35px;
        padding: 10px 10px;
        display: flex;
        color: rgb(255, 255, 255);
        background-color: rgb(35, 35, 156);
        text-transform: uppercase;
        transition-duration: 0.4s;
    }
      
    .accept_cookies:hover {
        background-color: #aeaae4;
        color: rgb(0, 0, 0);
    }

    .cookie_text_br{
        display: none;
    }
}