* {
	box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.menu_text{
    display: none;
}

.astronaut_page{
    min-height: 100vh;
    background-image: url("../images/astronaut_bg.jpg"); /* <-------2 punkter som var viktiga*/
    Background-size: cover; 
    Background-position: center;
}

.to_the_moon{
    position: absolute;
    top: 80px;
    left: 55px;
    height: 200px;
    width: 175px;
    border: 4px solid black;
    font-family: Rubik;
}

.heading_frontpage{
    position: relative;
    top: 5px;
    margin: 0px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.25;
    text-transform: uppercase;
    font-family: Rubik;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

.text_frontpage{
    position: relative;
    bottom: -15px;
    right: -5px;
    margin: 0px;
    padding: 5px;
    text-align: left;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

.br_after_the_heading{
    display: none;
}

nav {
    text-align: right;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }

button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.menu_lines {
    background-color: black;
    width: 100%;
    height: 6px;
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
}

button span:nth-child(2) {
    left: -6px;
    position: relative;
    transition: left 0.3s ease-in-out;
  }
  
button:hover span:nth-child(2) {
    left: 0;
  }

.arrow {
    position: absolute;
    bottom: 10px;
    left:50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.arrow_bottom_1 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 6px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 4px;
    transform: rotate(45deg);
    position: relative;
    bottom: -18px;
    left: -16px;
}

.arrow_bottom_2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 6px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 4px;
    transform: rotate(-45deg);
    position: relative;
    left: 16px;
}

.arrow_bottom_text{
    display: none;
}

.space_page{
    min-height: 100vh;
    background-image: url("../images/space_bg.jpg");
    Background-size: cover; 
    Background-position: center;
    font-family: Rubik;
    color: white;
    padding-top:45px;
    padding-left: 40px;
    padding-right: 40px;
}

.heading_second_page{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    max-height: 100px;
}

.heading_space{
    display:block;
    position:relative;
    font-size:3.6rem;
    text-shadow: 2px 2px rgb(51, 44, 44);
    z-index:1;
}

.heading_ventures{
    color:rgba(209, 201, 201, 0.795);
    position:relative;
    top: -50px;
    left: 55px;
    font-family:'Times New Roman', Times, serif;
    font-size:4.7rem;
    font-weight: 800;
    z-index:0;
}

.heading_major_tom{
    position:relative;
    top:20px;
    font-size:1.4rem;
    padding-bottom: 10px;
}

.text_major_tom{
    font-size:0.7rem;
    font-weight: lighter;
    line-height: 1.3;
}

.text_major_tom_p1{
    display:inline;
}

.text_major_tom_p2{
    display:inline;
}
/*
blockquote{
    position:relative;
    left:-15px;
    padding:15px;
    font-size:1.15rem;
    font-style:italic;
    font-weight: lighter; 
}*/

.quote1 {
    width: 80%;
    position: relative;
    margin: 25px;
    font-size: 1.0rem;
    color: white;
    font-weight: lighter;
    font-style: italic;
  }
  
  .quote1::before { 
    content: open-quote;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    opacity: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:absolute;
    margin-left: -1rem;
    top: -1rem;
  } 
  
  .quote1::after { 
    content: close-quote;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    opacity: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:absolute;
    margin-left: -1rem;
    top: 1.5rem;
  }

.quote2{
    display:none;
}

.text_tin_can{
    font-size:0.7rem;
    font-weight: lighter;
    line-height: 1.3;
}

.text_tin_can_p1{    
    display:inline;
    padding-bottom:20px;
}

.text_tin_can_p2{    
    display:inline;
}

.text_tin_can_p3{    
    display:inline;
}

.text_tin_can_p4{    
    display:inline;
}

.text_tin_can_p5{    
    display:inline;
}

.picture_major_tom{
    display: none;
    width: 75px;
}

.read_more_about_major_tom{
    color: rgb(209, 0, 161);
    text-decoration-color: rgb(209, 0, 161);
}

@media screen and (min-width: 1024px) {

    .to_the_moon{
        position: absolute;
        top: 70px;
        left: 75px;
        height: 340px;
        width: 340px;
        border: 4px solid black;
        font-family: Rubik;
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    .heading_frontpage{
        position: relative;
        top: 60px;
        margin: 0px;
        text-align: center;
        font-size: 5rem;
        line-height: 1.25;
        text-transform: uppercase;
        font-family: Rubik;
        font-weight: 700;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .text_frontpage{
        position: relative;
        bottom: -100px;
        right: -200px;
        margin: 0px;
        padding: 5px;
        text-align: right;
        font-size: 0.90rem;
        text-decoration: none;
        color: black;
    }
    
    .br_after_to_heading{
        display: none;
    }

    .space_page{
        display: flex;
        gap: 200px;        
        min-height: 100vh;
        background-image: url("../images/space_bg_desktop.jpg");
        Background-size: cover; 
        Background-position: center;
        font-family: Rubik;
        color: white;
        padding-top:45px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .arrow {
        display: none;
    }

    .left_side_desktop, .right_side_desktop{
        width: 50%;
    }
        
    .picture_major_tom{
        display: inline;
        width: 75px;
    }

    h2{
        margin: 0;
        max-height: 150px;
    }

    .heading_space{
        display:block;
        position:relative;
        font-size: 5.25rem;
        text-shadow: 2px 2px rgb(51, 44, 44);
        z-index:1;
    }
    
    .heading_ventures{
        color:rgb(209, 201, 201);
        position:relative;
        top: -60px;
        left: 5px;
        font-family:'Times New Roman', Times, serif;
        font-size:7rem;
        font-weight: 800;
        z-index:0;
    }
}