* {
	box-sizing: border-box;
}

body{
    margin: 0;
}
.astronaut_page{
    min-height: 100vh;
    background-image: url("../images/astronaut_bg.jpg"); /* <-------2 punkter som var viktiga*/
    Background-size: cover; 
    Background-position: center;
}

.to_the_moon{
    position: absolute;
    top: 80px;
    left: 50px;
    height: 25%;
    width: 40%;
    border: 4px solid black;
}

nav {
    text-align: right;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

button {
    position: relative;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.menu_lines {
    background-color: black;
    width: 100%;
    height: 6px;
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
}

.space_page{
    min-height: 100vh;
    background-image: url("../images/space_bg.jpg");
    Background-size: cover; 
    Background-position: center;
}